.side-all{
    width: 100%;
    height: 700px;
    background-color: rgb(214, 243, 243);
}
.side-header{
    text-align: center;
    padding-top: 45px;
    font-size: 34px;
}
.side{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1050px;
    height:700px;
    gap: 22px;
    margin-left: 100px;
    border-radius: 7px;
    padding-top: 42px;
    
}
.side-1{
   width: 370px; 
  
}
.side-2{
   
}
.side-3{
   
}
.side-1-img{
    width: 370px;
    height: 280px;
}
.side-2-img{
    width: 370px;
    height: 280px;
}
.side-3-img{
    width: 370px;
    height: 280px;
}
.side-part{
 background-color: white;
 width: 370px;
 height: 200px;
}
.side-child-header{
    padding-left: 27px;
    padding-top: 35px;
    font-size: 25px;
}
.side-child-para{
    padding-left: 27px;   
}
.side-child-link{
    padding-left: 27px;
    padding-top: 25px;
    font-size: 19px;
    font-weight: 600;
    color:rgb(216, 100, 123);  
}
.side-dec{
    margin-left: 250px;
}
@media  (min-width:280px) and (max-width:350px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 10px;
        border-radius: 7px;
        padding-top: 42px;
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:351px) and (max-width:420px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 10px;
        border-radius: 7px;
        padding-top: 42px;
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:421px) and (max-width:540px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 100px;
        border-radius: 7px;
        padding-top: 42px;
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:541px) and (max-width:768px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 15px;
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 180px;
        border-radius: 7px;
        padding-top: 42px;
      
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:769px) and (max-width:820px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 230px;
        border-radius: 7px;
        padding-top: 42px;
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:821px) and (max-width:1024px) 
{
    .side-all{
        width: auto;
        height: auto;
        background-color: rgb(214, 243, 243);
        margin-bottom: 20px;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height:auto;
        gap: 22px;
        margin-left: 280px;
        border-radius: 7px;
        padding-top: 42px;
        
    }
    .side-dec{
        display: none;
    }
}
@media  (min-width:1370px) and (max-width:1430px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1200px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 300px;
    }
}
@media  (min-width:1431px) and (max-width:1480px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 330px;
    }
}
@media  (min-width:1481px) and (max-width:1520px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 360px;
    }
}
@media  (min-width:1521px) and (max-width:1570px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 390px;
    }
}
@media  (min-width:1571px) and (max-width:1620px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 420px;
    }
}
@media  (min-width:1621px) and (max-width:1670px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 450px;
    }
}
@media  (min-width:1671px) and (max-width:1720px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 470px;
    }
}
@media  (min-width:1721px) and (max-width:1770px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1300px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 500px;
    }
}
@media  (min-width:1771px) and (max-width:1820px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1400px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 530px;
    }
}
@media  (min-width:1821px) and (max-width:1880px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1400px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 560px;
    }
}
@media  (min-width:1881px) and (max-width:1920px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1400px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 590px;
    }
}
@media  (min-width:1921px) and (max-width:1980px) 
{
    
    .side{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 1400px;
        height:700px;
        gap: 22px;
        margin: 0 auto;
        border-radius: 7px;
        padding-top: 42px;
        
        
        
    }
    .side-dec{
        margin-left: 610px;
    }
}