.title-full{
    width: 100%;
    height: 740px;
    background: url(../../image/500.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
   
   
}
.title-cover{
background-color: aqua;
 width: 100%;
 height: 740px;
 z-index: 2;
 opacity: 35%;
}