.navbar-size{
    background-color: darkcyan;
    position: sticky;
    top: 0;
    transition: 1s;
    z-index: 2;
}
.white{
    background-color: rgb(80, 196, 157);
   
}

.ul-size{
    margin-left: 260px;
    font-size: 18px;
 color: rgb(29, 28, 28);
}
.navbar-image img{
   margin-top: -5px;

}