.card-all{
    width: 100%;
    height: 250px;
}
.card-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    margin-left: 75px;
    margin-top: -90px;
    z-index: 1;
    position: absolute;
}
.card-1{
    background-color: rgb(80, 196, 157);
    width: 300px;
    height: 250px;
    
    border-radius: 2px;
    clip-path: polygon(0 0, 100% 15%, 100% 90%, 0 99%);
    z-index: 1;
}
.card-2{
    background-color: rgb(57, 160, 126);
    width: 300px;
    height: 250px;
    clip-path: polygon(0 15%, 100% 0, 100% 99%, 0 90%);
    z-index: 1;
    
}
.card-3{
    background-color: rgb(80, 196, 157);
    width: 300px;
    height: 250px;
    clip-path: polygon(0 0, 100% 15%, 100% 90%, 0 99%);
    z-index: 1;
    
   
    /* clip-path: polygon(0 1%, 100% 15%, 100% 90%, 0% 100%); */
}
.card-4{
    background-color: rgb(57, 160, 126);
    width: 300px;
    height: 250px;
    clip-path: polygon(0 15%, 100% 0, 100% 99%, 0 90%);
    z-index: 1;
}
.card-icon{
    font-size: 75px;
    position: absolute;
    margin-left: 115px;
    margin-top: 55px;
  
    
}
.card-header{
    margin-top: 145px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
}
@media  (min-width:280px) and (max-width:350px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 1px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:351px) and (max-width:420px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 45px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:421px) and (max-width:540px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 125px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:541px) and (max-width:768px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 230px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:769px) and (max-width:820px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 245px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:821px) and (max-width:1024px) 
{
    .card-all{
        width: auto;
        height: auto;
    }
    .card-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: 1000px;
        margin-left: 300px;
        margin-top: 15px;
        position: relative;
      
        
    }
}
@media  (min-width:1380px) and (max-width:1407px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 95px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1408px) and (max-width:1430px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 110px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1431px) and (max-width:1480px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 130px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1481px) and (max-width:1520px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 150px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1521px) and (max-width:1570px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 170px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1571px) and (max-width:1620px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 190px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1621px) and (max-width:1670px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 210px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1671px) and (max-width:1720px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 230px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1721px) and (max-width:1770px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 250px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1771px) and (max-width:1820px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 270px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1821px) and (max-width:1870px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 270px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1871px) and (max-width:1920px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 290px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}
@media  (min-width:1921px) and (max-width:2000px) 
{
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        margin-left: 290px;
        margin-top: -90px;
        z-index: 1;
        position: absolute;
    }
}

